<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!--
	This settings.xml file is aimed at providing configuration information that you need when producing code on any Openflexo infrastructure component.

	FOR OPENFLEXO ADMIN: this file is not to be used for jenkins profile, as we need a specific settings.xml to authenticate on the servers

    -->
    <!-- profiles
   -->
    <profiles>
	<!-- The following profile sets the Artifactory repository used for Openflexo infrastructure
      	-->
        <profile>
            <id>openflexo-infra</id>
            <repositories>
                <repository>
                    <id>openflexo</id>
                    <name>openflexo dependency repository</name>
                    <url>https://maven.openflexo.org/artifactory/openflexo-deps/</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>openflexo-snapshot</id>
                    <name>openflexo Snapshot repository</name>
                    <url>https://maven.openflexo.org/artifactory/openflexo-snapshot/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>openflexo-release</id>
                    <name>openflexo Release repository</name>
                    <url>https://maven.openflexo.org/artifactory/openflexo-release/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>openflexo-infra</activeProfile>
    </activeProfiles>
</settings>
